:root {
  --main-color: #ff0051;
}
body {
  background-color: #fff2d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", sans-serif;
  
}
.nav{
  background-color: #ff7a00;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  font-size: 36px;
  font-weight: bold;
  color: #302000;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
.logo:hover{
  cursor: pointer;
    color: #805500;

}
.reservations{
  padding: 10px;
  border-radius: 10px;
  background-color: #ffc978;
  display: flex;
  align-items: center;
  font-size: 36px;
  color: #fa7900;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.reservations p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #be2c2c;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}


.reservations:hover{
  cursor: pointer;
  color: #b85900;
  background-color: #ffd699;
}
.images-container {
  margin: 50px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.images-container div {
  background-size: cover;
  border-radius: 10px;
}
/* .images-container div:hover {
  scale: 1.01;
} */
.hero-img {
  width: 100%;
  height: 500px;
  background-image: url(".//image/531a4853-9c7e-445f-bbba-f0edb5736a03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.hero-img:hover{
  scale: 1.01;
}

.sec-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sec-imgs div {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.sec-imgs div:hover{
  scale: 1.01;
}

#img-2 {
  width: 100%;
  height: 200px;
  background-image: url(".//image/abc585a5-5b9f-4300-b538-394cff9c3a6b.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#img-3 {
  width: 100%;
  height: 200px;
  background-image: url(".//image/c2600188-6e71-4f83-8ed6-056c3e9089dd.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#img-4 {
  width: 100%;
  height: 200px;
  background-image: url(".//image/c2600188-6e71-4f83-8ed6-056c3e9089dd.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.content-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  align-items: flex-start;
  gap: 50px;
}
.apartment-info {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: #ff7a00;
  font-size: 28px;
  font-weight: 900;
}
.type-city{
  display: flex;
  gap: 10px;
}
.title-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.badge {
  background-color: #ffe2a7;
  color: #ff7a00;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  font-weight: bolder;
}
.rate{
    background-color: #ffeb33;
  color: #726700;
}
.rooms {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.address {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.description{
  color: rgb(153, 153, 153)
}
hr{
  margin-block: 10px;
  border: 1px solid #ffb82a79;
}

.apartment-owner-card {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  border: 0.5px solid rgb(212, 212, 212);
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.owner-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-image: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?fit=crop&w=200&q=80");
  background-size: cover;
}

.apartment-owner-card button {
  background-color: #d4ffd4;
  color: #007a00;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
}
.apartment-owner-card button:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px #00000009;
}

.aminities {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
}
.amin-obj {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}
.amin-obj i {
  color:#8d5e01;
}

.left-card {
  position: sticky;
  top: 15px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffe7b6;
  border: 1px solid #ff7a00;
  /* box-shadow:  7px 10px 0px 0px #ff005131; */
  gap: 20px;
  /* transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s; */
  width: 40%;
}
.left-card div h1{
  color: #ff7a00;
  font-weight: bold;
  font-size: 38px;
}
/* .left-card:hover{
    box-shadow:  18px 19px 0px 0px #ff005131;
} */

.price-rate{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lefr-card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.left-card button{
  background-color: #ff7a00;
  border-radius: 20px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
    transition: 0.3s;

}
.left-card button:hover{
  background-color: #ff891a;
      box-shadow:  5px 5px 10px 0px #ff005131;
      cursor: pointer;
}