body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff2d8;
  margin: 0;
  padding: 0;
}

.nav{
  background-color: #ff7a00;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  font-size: 36px;
  font-weight: bold;
  color: #302000;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
.logo:hover{
  cursor: pointer;
    color: #805500;

}
.reservations{
  padding: 10px;
  border-radius: 10px;
  background-color: #ffc978;
  display: flex;
  align-items: center;
  font-size: 36px;
  color: #fa7900;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.reservations p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #be2c2c;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}


.reservations:hover{
  cursor: pointer;
  color: #b85900;
  background-color: #ffd699;
}

#parent {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 15px;
}

.apartment-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 250px;
  border: 1px solid #191919;
}

.apartment-card:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.image-section {
  width: 40%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-section {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.title {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}

.location {
  color: #717171;
  font-size: 14px;
  margin-bottom: 15px;
}

.features {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
}

.cancellation {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 14px;
  margin-top: 10px;
}

.cancellation-icon {
  margin-left: 8px;
  font-size: 18px;
}

.heart-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  color: #222;
  cursor: pointer;
}

.view-btn {
  color: white;
  background-color: #ff7a00;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 50vh;
  width: 50%;
}
