* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota Text",sans-serif;
}
body{
    display: flex;
    flex-direction: row-reverse;
}
.right {
  background-image:
    linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url("houses-8618837_1920.jpg");
  background-image: linear-gradient(10px);
  height: 100vh;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left{
    margin :auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.welcome h1{
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 10px;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sign-up-form input{
    padding: 10px;
    outline: none;
    border: 0.5px solid;
    border-radius: 5px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
}

.sign-up-form button{
    height: 50px;
    background-color: #ff0051;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    outline: none;
    transition:0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.sign-up-form button:hover{
        background-color: #ff4c85;
            box-shadow: #ff005113 5px 5px;
        cursor: pointer;

}
.sign-in-suggest{
    text-align: center;
    margin-top: 20px;
}
.sign-in-suggest a{
    color: #ff0051;
}
.sign-up-form input:focus{
    box-shadow: #ff005113 5px 5px;
    border: #ff0051 .5px solid;
    
}