* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", sans-serif;
}
body {
  display: flex;
}
.right {
  background-image:
    linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url("building-5630441_1920.jpg");
  background-image: linear-gradient(10px);
  height: 100vh;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.welcome h1 {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 10px;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.sign-in-form input {
  padding: 10px;
  outline: none;
  border: 0.5px solid;
  border-radius: 5px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.sign-in-form button {
  height: 50px;
  background-color: #ff7a00;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  outline: none;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.sign-in-form button:hover {
  background-color: #ff7a00;
      box-shadow: #ff005113 5px 5px;
  cursor: pointer;
}
.sign-in-form input:focus {
  box-shadow: #ff005113 5px 5px;
  border: #ff7a00 0.5px solid;
}
.sign-up-suggest {
  text-align: center;
  margin-top: 20px;
}
.sign-up-suggest a {
  color: #ff7a00;
}
